<a href='/compose/{{id}}'>
    <div class="card mb-5 d-flex justify-content-between">
        <h5 class="card-header col-6 border-bottom-0">{{title}}<br> <span> {{format_date date_created}}</span></h5>
        <div class="card-body text-end border border-2 handwritten"> -- click to edit
        </div>
    </div>
</a>