<a href='/compose/{{id}}'>
    <div class="card mb-5">
        <h5 class="card-header col-6">{{title}}</h5>
        <div class="card-body text-end border border-2 handwritten"> -- click to edit
        </div>
    </div>
</a>