<div class="card">
           
            <div class="card-body">
              <p class="card-text">Comment text</p>           
            </div>
            <div class="card-footer text-muted text-end">
                Comment Author
              </div>
          </div>