<h2 class="dashHead">Your Previous Posts</h2>
<button id="compose" class="btn-no-style" data-userid="{{userId}}">Create New Post</button>
{{#each blogPosts as |post|}}
{{> blog_titles}}
{{/each}}

<script src="./js/compose.js"></script>