<div class="card">
            <h5 class="card-header">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">Blog Teaser text...</p>           
            </div>
            <div class="card-footer text-muted text-end">
                Blog Author
              </div>
          </div>
 {{#each comment as |comment|}}
{{> comments}}
{{/each}}   
{{!-- <form> for comments </form> --}}  `